[core]
	editor = code --wait
	autocrlf = false
	ignorecase = false
[user]
	name = hidarisandesu
	email = nuiko0512.devel@gmail.com
[init]
	defaultBranch = main
[color]
	ui = true
{{- if eq .chezmoi.os "linux" }}
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
{{- end }}
